

 
 <div class="container">
    <h5 class="text-center mt-3">STUDENTS</h5>
    <div class="d-flex my-2">
        <a  routerLink="create" class="btn btn-outline-success ms-auto">Create New Product</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered p-0 m-0">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Department</th>
                <th>Action</th>
                
            </thead>
            <!-- <tbody>
                <tr *ngFor="let student of students">
                    <td>{{student.id}}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.dept}}</td>
                    <td>
                        <a  [routerLink]="['update']" class="btn btn-primary m-1">Edit</a>-->
                        <!-- <a  [routerLink]="['/update/',student.id,'edit']" class="btn btn-primary m-1">Edit</a>
                        
                        <button *ngIf="student.id !== undefined" (click)="deleteStudent(student.id)" class="btn btn-danger m-1">Delete</button>
                       </tr>
                
            </tbody> --> 
        </table>
    </div>
</div>



